<template>

      <div id="game">

            <router-link :to="'menu'">
                  <div id="exit">
                        <span class="arrow jua">&lt;</span>
                        <span>Exit</span>
                  </div>
            </router-link>

            <div class="row">
                  <div class="col-xs-12 col-sm-6">

                        <div class="spot-column">
                              <div class="spot-container">

                                    <div id="spot" class="circle">

                                          <template v-for="icon in icons">
                                                <GameMovingIcon :icon="icon" :key="icon.id" />
                                          </template>

                                    </div>

                                    <div class="number">{{level}}</div>

                              </div>
                        </div>

                  </div>
                  <div class="col-xs-12 col-sm-6">

                        <div class="panel">

                              <div class="timer">{{score}}</div>

                              <div class="box">

                                    <div class="level yellow">Level {{level}}</div>

                                    <div id="answers" class="jua" :class="answerLock ? 'locked' : ''">
                                          <template v-for="answer in answers">
                                                <GameAnswer :answer="answer" :key="answer.category.order" :lock="answerLock"
                                                @answer-submitted="answerSubmitted" @show-solution="showSolution" />
                                          </template>
                                    </div>

                                    <div class="buttons">

                                          <div class="game-button" @click="nextLevel()" v-show="showContinue">
                                                <Button :text="'Continue'" />
                                          </div>

                                          <div class="game-button" @click="retryLevel()" v-show="showRetry">
                                                <Button :text="'Retry'" />
                                          </div>

                                    </div>

                              </div>
                        </div>

                  </div>                  
            </div>

      </div>

</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import { cloneDeep } from "lodash";

import Button from "../components/Button.vue";
import GameMovingIcon from "../components/GameMovingIcon.vue";
import GameAnswer from "../components/GameAnswer.vue";

import MovingIcon from "../types/MovingIcon";
import IconType from "../types/IconType";
import Color from "../types/Color";
import Animation from "../types/Animation";
import Answer from  "../types/Answer";
import Category from "../types/Category";
import Difficulty from "../types/Difficulty";

import * as f from "../functions";

@Component({
      components: {
            Button, GameMovingIcon, GameAnswer
      },
})
export default class Game extends Vue {

           icons: MovingIcon[] = [];
           types:   IconType[] = [];
          colors:      Color[] = [];
      animations:  Animation[] = [];

          answers:    Answer[] = [];           
       categories:  Category[] = [];
      rCategories:  Category[] = [];

      difficulty:   Difficulty = new Difficulty;

      level = this.$store.state.level;

      data: any;

      answerLock: boolean = false;
      showContinue: boolean = false;
      showRetry: boolean = false;

      count: number = 10;
      timer?: number;
      points: number = 200;
      score: number = 0;

      created() {

            if(this.level === 0) {
                  this.$router.push({ name: "menu" });
            }
            else {
                  this.setLevel();
            }

      }

      setLevel() {
          
            this.difficulty = this.$store.state.difficulties.filter((d: Difficulty) => this.level >= d.start)[0];

            this.resetGame();
            
            let t = this;

            setTimeout(function(){
                  t.setIcons();
                  t.setAnswers();
            }, 500);

            setTimeout(function(){
                  t.setTimer();
                  t.timer = setInterval(t.setTimer, 2000);
            }, 2000);

      }

      nextLevel() {

            this.showContinue = false;
            this.level += 1;

            this.setLevel();

      }

      retryLevel() {

            this.showRetry = false;

            this.setLevel();

      }

      resetGame() {

                      this.icons = [];               
                      this.types = cloneDeep(this.$store.state.types);
                     this.colors = cloneDeep(this.$store.state.colors);
                 this.animations = cloneDeep(this.$store.state.animations.filter((a: Animation) => a.race === false));

                    this.answers = [];
                 this.categories = cloneDeep(this.$store.state.categories);
            let randomCategories = this.categories.filter((c) => c.random === true);

            this.$store.state.radioactive = 0;

            this.data = {
                  icons: this.icons,
                  types: this.types,
                  colors: this.colors,
                  animations: this.animations,
                  categories: this.categories,
                  rCategories: randomCategories,
                  difficulty: this.difficulty,
                  level: this.level
            };

            this.answerLock = false;

            this.count = 10;
            this.timer = undefined;
            this.points = 200;

      }

      setIcons() {

            let index = 0;
            let limit = this.difficulty.limit;

            for(let i = 0; i < limit; i++) {

                  let type = f.getRandomItem<IconType>(this.types, 1);

                  for(let j = 0; j < (i + 1); j++) {

                        index++;
                        this.icons.push(MovingIcon.setIcon(type, this.data, index));

                  }

            }

      }

      setAnswers() {

            for(let i = 0; i < 3; i++) {

                  let correct: boolean = false;

                  if(i === 0) {
                        correct = true;
                  }

                  this.answers.push(Answer.setAnswer(correct, this.data));
                  this.answers.sort((a, b) => a.category.order - b.category.order);

            }

      }

      answerSubmitted(solution: boolean) {

            this.answerLock = true;

            if(solution) {
                  this.showContinue = true;
                  this.score += this.points;
            }
            else {
                  this.showRetry = true;
                  this.score -= 100;
                  this.answers.filter((a) => a.correct === true)[0].solutionVisible = true;
            }

      }

      showSolution() {

            let correct = this.answers.filter((a) => a.correct === true)[0];
            let icons = this.icons;

            if(correct.category.name === "amount" || correct.category.name === "color-same") {

                  let name = correct.iconType !== undefined ? correct.iconType.name : "";

                  icons = this.icons.filter((i) => i.type.name !== name);

            }

            if(correct.category.name === "color-count") {

                  let name = correct.iconColor !== undefined ? correct.iconColor.name : "";

                  icons = this.icons.filter((i) => i.color.name !== name);

            }

            /*if(correct.category.name === "radioactive") {

                  icons = this.icons.filter((i) => !i.radioactive);

            }*/

            icons.forEach((i: MovingIcon) => {

                  i.faded = true;

            });

      }

      setTimer() {
            if(this.count > 0 && !this.showContinue) {
                  this.count = this.count - 1;
                  this.points = (this.count * 10) + 100
            }
            else {
                  clearInterval(this.timer);
            }
      }
}
</script>

<style lang="scss">

#game {

      #exit {
            position: absolute;
            top: -50px;
            left: 20px;
            z-index: 1;
            font-size: 18px;
            cursor: pointer;

            .arrow {
                  margin-right: 8px;
                  vertical-align: middle;
                  font-size: 12px;
            }
      }

      .spot-column {

            &, .spot-container {
                  position: relative;
                  width: 500px;
            }

            .spot-container {
                  border-radius: 50%;
                  overflow: hidden;

                  .number {
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        line-height: 500px;
                        overflow: hidden;
                        font-size: 500px;
                        color: #fcef50;
                        opacity: 0.02;
                  }
            }
      }

      .panel {
            box-shadow: none;

            .box {
                  border-radius: 20px;
                  padding: 20px 0;
                  height: 500px;
                  overflow: hidden;
                  background-color: rgba(53, 120, 244, 0.5);

                  .level {
                        position: relative;
                        margin: 5px 0 25px;
                        line-height: 50px;
                        text-transform: uppercase;
                        font-size: 40px;
                        transition: all 2s;
                  }

                  #answers {
                        transition: all 2s;

                        &.locked {
                              pointer-events: none;
                        }
                  }

                  .buttons {

                        .game-button {
                              margin: 0 auto;
                              padding: 10px 0;
                              border: 2px outset #ddd;
                              width: 90%;
                              line-height: 38px;
                              border-radius: 8px;
                              font-size: 26px;
                              background: url(../img/comic.jpg);
                              background-size: cover;
                              cursor: pointer;
                              transition: all .3s;

                              &:hover {
                                    letter-spacing: 2px;
                                    font-size: 30px;
                              }
                        }
                  }
            }
      }
}

</style>