<template>

      <div id="menu">

            <div class="row">

                  <div class="col-xs-12 col-sm-6">

                        <div id="preview" class="circle">
                              <!-- TODO add mode icons -->
                        </div>

                  </div>

                  <div class="col-xs-12 col-sm-6">

                        <div class="panel">

                              <div id="logo" class="chango yellow">Spot</div>

                              <!-- TODO add menu -->
                              <div @click="startGame">
                                    <Button :text="'Game'" />
                              </div>

                              <div @click="startRace">
                                    <Button :text="'Race'" />
                              </div>

                        </div>

                  </div>

            </div>

      </div>

</template>


<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import Button from "../components/Button.vue";

@Component({
      components: {
            Button
      },
})
export default class Menu extends Vue {

      level: number = this.$store.state.level;

      startGame() {
            this.$store.state.level = 1;
            this.$router.push({ name: "game" });
      }

      startRace() {
            this.$store.state.level = 1;
            this.$router.push({ name: "race" });
      }

}
</script>

<style lang="scss">
</style>