<template>

      <div id="race">

            <router-link :to="'menu'">
                  <div id="exit">
                        <span class="arrow jua">&lt;</span>
                        <span>Exit</span>
                  </div>
            </router-link>

            <div class="row">
                  <div class="col-xs-12">

                        <div id="track">
                              <template v-for="icon in icons">
                                    <GameMovingIcon :icon="icon" :key="icon.id" />
                              </template>
                        </div>

                  </div>
            </div>
            <div class="row">
                  <div class="col-xs-12">

                        <div class="panel">

                              <div class="box">

                                    <div class="level yellow">Level {{level}}</div>

                                    <div id="answers" class="jua" :class="answerLock ? 'locked' : ''">
                                          <template v-for="answer in answers">
                                                <GameAnswer :answer="answer" :key="answer.category.order" :lock="answerLock"
                                                @answer-submitted="answerSubmitted" @show-solution="showSolution" />
                                          </template>
                                    </div>

                                    <div class="buttons">

                                          <div class="game-button" @click="nextLevel()" v-show="showContinue">
                                                <Button :text="'Continue'" />
                                          </div>

                                          <div class="game-button" @click="retryLevel()" v-show="showRetry">
                                                <Button :text="'Retry'" />
                                          </div>

                                    </div>

                              </div>
                        </div>

                  </div>                  
            </div>

      </div>

</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import { cloneDeep } from "lodash";

import Button from "../components/Button.vue";
import GameMovingIcon from "../components/GameMovingIcon.vue";
import GameAnswer from "../components/GameAnswer.vue";

import MovingIcon from "../types/MovingIcon";
import IconType from "../types/IconType";
import Color from "../types/Color";
import Animation from "../types/Animation";
import Answer from  "../types/Answer";
import Category from "../types/Category";
import Difficulty from "../types/Difficulty";

import * as f from "../functions";

@Component({
      components: {
            Button, GameMovingIcon, GameAnswer
      },
})
export default class Race extends Vue {

           icons: MovingIcon[] = [];
           types:   IconType[] = [];
          colors:      Color[] = [];
      animations:  Animation[] = [];

          answers:    Answer[] = [];           
       categories:  Category[] = [];
      rCategories:  Category[] = [];

      difficulty:   Difficulty = new Difficulty;

      level = this.$store.state.level;

      data: any;

      answerLock: boolean = false;
      showContinue: boolean = false;
      showRetry: boolean = false;

      created() {

            if(this.level === 0) {
                  this.$router.push({ name: "menu" });
            }
            else {
                  this.setLevel();
            }

      }

      setLevel() {
          
            this.difficulty = this.$store.state.difficulties.filter((d: Difficulty) => this.level >= d.start)[0];

            this.resetGame();
            
            let t = this;

            setTimeout(function(){
                  t.setIcons();
                  t.setAnswers();
            }, 500);

      }

      nextLevel() {

            this.showContinue = false;
            this.level += 1;

            this.setLevel();

      }

      retryLevel() {

            this.showRetry = false;

            this.setLevel();

      }

      resetGame() {

                      this.icons = [];
                      this.types = cloneDeep(this.$store.state.types);
                     this.colors = cloneDeep(this.$store.state.colors);
                 this.animations = cloneDeep(this.$store.state.animations.filter((a: Animation) => a.race === true));

                    this.answers = [];
                 this.categories = cloneDeep(this.$store.state.categories);
            let randomCategories = this.categories.filter((c) => c.random === true);

            this.$store.state.radioactive = 0;

            this.data = {
                  icons: this.icons,
                  types: this.types,
                  colors: this.colors,
                  animations: this.animations,
                  categories: this.categories,
                  rCategories: randomCategories,
                  difficulty: this.difficulty,
                  level: this.level
            };

            this.answerLock = false;

      }

      setIcons() {

            let index = 0;
            let limit = this.difficulty.limit;
            let type = this.types.filter((t) => t.id === 0)[0];

            for(let i = 0; i < 3; i++) {

                  index++;
                  this.icons.push(MovingIcon.setIcon(type, this.data, index, true));

            }

      }

      setAnswers() {

            for(let i = 0; i < 3; i++) {

                  let correct: boolean = false;

                  if(i === 0) {
                        correct = true;
                  }

                  this.answers.push(Answer.setAnswer(correct, this.data));
                  this.answers.sort((a, b) => a.category.order - b.category.order);

            }

      }

      answerSubmitted(solution: boolean) {

            this.answerLock = true;

            if(solution) {
                  this.showContinue = true;
            }
            else {
                  this.showRetry = true;
                  this.answers.filter((a) => a.correct === true)[0].solutionVisible = true;
            }

      }

      showSolution() {

            let correct = this.answers.filter((a) => a.correct === true)[0];
            let icons = this.icons;

            if(correct.category.name === "amount" || correct.category.name === "color-same") {

                  let name = correct.iconType !== undefined ? correct.iconType.name : "";

                  icons = this.icons.filter((i) => i.type.name !== name);

            }

            if(correct.category.name === "color-count") {

                  let name = correct.iconColor !== undefined ? correct.iconColor.name : "";

                  icons = this.icons.filter((i) => i.color.name !== name);

            }

            icons.forEach((i: MovingIcon) => {

                  i.faded = true;

            });

      }
}
</script>

<style lang="scss">

#race {

      #track {
            position: relative;
            width: 100%;
            height: 300px;
            background-color: #323232;

            .game-icon {
                  position: absolute;
                  transform: translate(-50%, -50%);
                  z-index: 1;
                  font-size: 40px;
            }
      }
}

</style>