@keyframes downhill {
	0%   { top: 35%; left: 5%; }
      50%  { top: 60%; left: 50% }
      100% { top: 65%; left: 95%; }
}
  
@keyframes uphill {
      0%   { top: 65%; left: 5%; }
      50%  { top: 40%; left: 50%; }
      100% { top: 35%; left: 95%; }
}
  
@keyframes zigzag-down {
      0%     { top: 20%; left: 20%; }
      25%    { top: 45%; left: 25%; }
      50%    { top: 50%; left: 50%; }
      75%    { top: 75%; left: 55%; }
      100%   { top: 80%; left: 80%; }
}
  
@keyframes zigzag-up {
      0%     { top: 80%; left: 15%; }
      25%    { top: 75%; left: 45%; }
      50%    { top: 50%; left: 50%; }
      75%    { top: 45%; left: 80%; }
      100%   { top: 20%; left: 85%; }
}
  
@keyframes bounce {
      0%   { left: 50%; top: 10%; }
      25%  { left: 55%; top: 30%; }
      50%  { left: 50%; top: 50%; }
      75%  { left: 45%; top: 70%; }
      100% { left: 50%; top: 90%; }
}
  
@keyframes line-top {
      0%   { top: 25%; left: -15%; }
      25%  { top: 20%; left: 17.5%; }
      50%  { top: 25%; left: 50%; }
      75%  { top: 20%; left: 82.5%; }
      100% { top: 25%; left: 115%; }
}
  
@keyframes line-middle {
      0%   { top: 50%; left: -15%; }
      25%  { top: 45%; left: 17.5%; }
      50%  { top: 50%; left: 50%; }
      75%  { top: 55%; left: 82.5%; }
      100% { top: 50%; left: 115%; }
}
  
@keyframes line-bottom {
      0%   { top: 65%; left: -15%; }
      25%  { top: 70%; left: 17.5%; }
      50%  { top: 65%; left: 50%; }
      75%  { top: 70%; left: 82.5%; }
      100% { top: 65%; left: 115%; }
}
  
@keyframes line-vertical {
      0%   { left: 50%; top: -15%; }
      25%  { left: 45%; top: 17.5%; }
      50%  { left: 50%; top: 50%; }
      75%  { left: 55%; top: 82.5%; }
      100% { left: 50%; top: 115%; }
}
  
@keyframes cross-down {
      0%   { top: 30%; left: 115%; }
      25%  { top: 35%; left: 82.5%; }
      50%  { top: 50%; left: 50%; }
      75%  { top: 65%; left: 17.5%; }
      100% { top: 70%; left: -15%; }
}
  
@keyframes cross-up {
      0%   { top: 80%; left: 115%; }
      25%  { top: 75%; left: 82.5%; }
      50%  { top: 60%; left: 50%; }
      75%  { top: 35%; left: 17.5%; }
      100% { top: 40%; left: -15%; }
}

@keyframes race-1 {
      0%    { top: 50%; left: 0%; }
      50%   { top: 50%; left: 0%; }
      62.5% { top: 60%; left: 30%; }
      75%   { top: 40%; left: 70%; }
      87.5% { top: 60%; left: 85%; }
      100%  { top: 40%; left: 100%; }
}

@keyframes race-2 {
      0%    { top: 50%; left: 0%; }
      50%   { top: 50%; left: 0%; }
      62.5% { top: 35%; left: 20%; }
      75%   { top: 70%; left: 40%; }
      87.5% { top: 45%; left: 75%; }
      100%  { top: 60%; left: 100%; }
}

@keyframes race-3 {
      0%    { top: 50%; left: 0%; }
      50%   { top: 50%; left: 0%; }
      62.5% { top: 45%; left: 25%; }
      75%   { top: 40%; left: 50%; }
      87.5% { top: 65%; left: 75%; }
      100%  { top: 50%; left: 100%; }
}