body {
      /*font-family: "Chewy", cursive;
      text-shadow: 0 0 6px #333;
      color: #fff;*/
  }
  
  /*.jua {
      font-family: "Jua", cursive;
  }
  
  .chango {
      font-family: "Chango", cursive;
  }
  
  .yellow {
      color: #fcef50;
  }
  
  *::selection {
      color: inherit;
  }*/

  .button {
      border-radius: 8px;
      cursor: pointer;
      transition: all .3s;
  }
  
  .circle {
      position: relative;
      border: 4px solid #fcef50;
      border-radius: 50%;
      width: 500px;
      height: 500px;
      overflow: hidden;
      background-color: #323232;
  }
  
  #darysto {
      position: fixed;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 200px;
      height: 30px;
      z-index: 1;
      background: url(img/logo-darysto.png) no-repeat;
      background-size: contain;
      opacity: 0.3;
  }
  
  #background {
      position: fixed;
      width: 100%;
      height: 100%;
      background: url(img/sky.png) no-repeat;
      background-size: cover;
      background-position: center 0;
      background-color: #3578f4;
      transition: filter 1s;
  }
  
  /*.dark #background {
      filter: brightness(20%);
  }*/
    
  #screen {
      position: relative;
      margin: 150px auto 0;
      text-align: center;
  }
  
  #switch {
      display: none;
      position: absolute;
      top: -60px;
      right: 0;
      padding: 6px 10px;
      z-index: 1;
      font-size: 26px;
      color: #333;
      cursor: -webkit-grabbing;
      transition: all 1s;
  }
  
  /*.dark #switch {
      color: #fcef50;
  }*/
  
  .panel {
      position: relative;
      margin: 0 50px;
      width: 500px;
  }
  
  /*#menu #preview .fa {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 300px;
      color: #fcef50;
      opacity: 0;
      transition: all .3s;
  }
  
  #menu #preview .fa.loaded {
      display: block;
  }*/
  
  #menu #preview #spot-icon {
      opacity: 0;
      transition: all 1s;
  }
  
  #menu #preview #spot-icon.loaded {
      opacity: 0.2;
  }
  
  #menu #logo {
      margin-bottom: 30px;
      line-height: 150px;
      text-transform: uppercase;
      font-size: 120px;
      cursor: zoom-in;
      animation: intro 2s linear;
  }
  
  #menu #options {
      //display: none;
      opacity: 0;
      transition: all 1s;
  }
  
  #menu #options.loaded {
      opacity: 1;
  }
  
  #menu #options.faded {
      pointer-events: none;
  }
  
  #menu #options .option {
      margin-bottom: 20px;
      text-shadow: 0 0 12px #333;
      font-size: 50px;
      cursor: pointer;
      transition: all .3s;
  }
  
  #menu #options .option:hover, #menu #options .option.selected {
      text-shadow: 0 0 16px #000;
      letter-spacing: 2px;
      color: #fcef50;
  }
  
  #menu #options.faded .option {
      border-color: transparent;
  }
  
  #menu #options.faded .option:not(:hover):not(.selected) {
      opacity: 0;
  }
    
  /*#game #exit {
      position: absolute;
      top: -50px;
      left: 20px;
      z-index: 1;
      font-size: 18px;
      cursor: pointer;
  }
  
  #game #exit .arrow {
      margin-right: 8px;
      vertical-align: middle;
      font-size: 12px;
  }
  
  #game .spot-column, #game .spot-container {
      position: relative;
      width: 500px;
  }
  
  #game .spot-container {
      border-radius: 50%;
      overflow: hidden;
  }*/
  
  #game #easter-egg {
      display: none;
      position: absolute;
      top: 20px;
      left: 20px;
      transform: rotate(320deg);
      width: 160px;
      cursor: help;
      transition: all 1s;
  }
  
  #game #easter-egg.shown {
      top: 0;
      left: 0;
      width: 200px;
      z-index: 1;
  }
  
  #game.hard #spot {
      animation: rotate 4s linear infinite;
  }
  
  #game #spot .glyphicon {
      position: absolute;
      transform: translate(-50%, -50%);
      z-index: 1;
      text-shadow: 0 0 8px #444;
      font-size: 36px;
  }
  
  /*#game .number {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      line-height: 500px;
      overflow: hidden;
      font-size: 500px;
      color: #fcef50;
      opacity: 0.02;
  }*/
  
  #game.tutorial .number {
      display: none;
  }
  
  /*#game .box {
      border-radius: 20px;
      padding: 20px 0;
      height: 500px;
      overflow: hidden;
      background-color: rgba(53, 120, 244, 0.5);
  }*/
  
  /*.dark #game .box {
      background-color: rgba(53, 120, 244, 0.8);
  }*/
  
  /*#game .level {
      position: relative;
      margin: 5px 0 25px;
      line-height: 50px;
      text-transform: uppercase;
      font-size: 40px;
      transition: all 2s;
  }*/
  
  #game .level.gameover {
      letter-spacing: 2px;
      font-size: 48px;
  }
  
  #game .level:not(.gameover):after {
      content: "/ 20";
      position: absolute;
      top: -7px;
      margin-left: 5px;
      font-family: "Jua", sans-serif;
      font-size: 12px;
      color: #f1f0e3;
  }
  
  #game #explanation {
      display: none;
      position: absolute;
      padding: 20px;
      width: 100%;
      font-size: 26px;
      transition: all .3s;
  }
  
  #game:not(.tutorial) #explanation {
      font-size: 40px;
  }
  
  /*#game #answers {
      //opacity: 0;
      transition: all 2s;
  }*/
  
  #game #answers .answer {
      //display: none;
      position: relative;
      padding: 30px 0;
      height: 100px;
      font-size: 32px;
      cursor: pointer;
      box-shadow: 0px 2px 6px #444;
      transition: all .3s;
  }
  
  #game #answers .answer:hover, #game #answers .answer.correct, #game #answers .answer.selected {
      font-size: 34px;
  }
  
  #game #answers .answer.selected {
      color: #fcef50;
      background-color: rgba(51, 51, 51, 0.8);
  }
  
  #game #answers .glyphicon {
      vertical-align: text-bottom;
  }
  
  #game #answers .answer-overlay {
      position: absolute;
      top: 0;
      padding: 30px 0;
      width: 100%;
      height: 100%;
      line-height: 48px;
      text-transform: uppercase;
      font-size: 50px;
      color: rgba(31, 214, 71, 0.8);
      background-color: rgba(50, 50, 50, 0.2);
      opacity: 0;
      transition: all 1s;
      filter: blur(2px);
  }
  
  #game #answers .answer-overlay:before {
      content: "Correct";
  }
  
  #game .buttons {
      margin-top: 20px;
      height: 60px;
  }
  
  /*#game .game-button {
      //display: none;
      margin: 0 auto;
      padding: 10px 0;
      border: 2px outset #ddd;
      width: 90%;
      line-height: 38px;
      border-radius: 8px;
      font-size: 26px;
      background: url(img/comic.jpg);
      background-size: cover;
      cursor: pointer;
      transition: all .3s;
  }
  
  #game .game-button:hover {
      letter-spacing: 2px;
      font-size: 30px;
  }*/
  
  #game #continue, #game #back {
      opacity: 0;
  }
  
  #game #begin {
      opacity: 0;
  }
  
  #game #confirm {
      text-shadow: none;
      color: #333;
      background-image: none;
      background-color: rgba(222, 222, 222, 0.8);
      opacity: 0;
      transition: all .5s;
  }
  
  #overlay {
      display: none;
      position: fixed;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.5);
  }
  
  #popup {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 30px;
      border-radius: 8px;
      width: 370px;
      z-index: 3;
      text-align: center;
      font-size: 26px;
      background-color: #dedede;
      box-shadow: 0 0 10px #333;
  }
  
  #popup .title {
      margin-bottom: 15px;
      text-shadow: none;
      color: #333;
  }
  
  #popup .button {
      display: inline-block;
      position: relative;
      left: 0;
      padding: 6px 0;
      border: 2px solid transparent;
      width: 82px;
      line-height: 34px;
      font-size: 24px;
  }
  
  #popup .button:hover {
      letter-spacing: 2px;
      font-size: 26px;
  }
  
  #popup .egg-button {
      display: none;
      background-color: #777;
  }
  
  #popup #yes, #popup #egg-left {
      float: left;
      background-color: #1fd647;
  }
  
  #popup #no, #popup #egg-right {
      float: right;
  }
  
  #popup.flipped #yes {
      left: 228px;
  }
  
  #popup #no {
      background-color: #ec3939;
  }
  
  #popup.flipped #no {
      left: -228px;
  }
  
  /* animations */
  
  @keyframes intro {
      0%     { font-size: 80px; color: #fcef50; text-shadow: 0 0 6px #333; letter-spacing: -6px; }
      15%    { font-size: 100px; color: #fff68e; text-shadow: 0 0 10px #dedede; letter-spacing: -3px; }
      30%    { font-size: 120px; color: #fffbc6; text-shadow: 0 0 20px #fff; letter-spacing: 0; }
      100%   { font-size: 120px; color: #fcef50; text-shadow: 0 0 6px #333; }
  }
  
  @keyframes downhill {
      0%   { top: 35%; left: 5%; }
      50%  { top: 60%; left: 50% }
      100% { top: 65%; left: 95%; }
  }

  .downhill {
      animation: downhill 0s alternate linear infinite;
  }
  
  @keyframes uphill {
      0%   { top: 65%; left: 5%; }
      50%  { top: 40%; left: 50%; }
      100% { top: 35%; left: 95%; }
  }
  
  .uphill {
    animation: uphill 0s alternate linear infinite;
  }
  
  @keyframes zigzag-down {
      0%     { top: 20%; left: 20%; }
      25%    { top: 45%; left: 25%; }
      50%    { top: 50%; left: 50%; }
      75%    { top: 75%; left: 55%; }
      100%   { top: 80%; left: 80%; }
  }

  .zigzag-down {
    animation: zigzag-down 0s alternate linear infinite;
  }
  
  @keyframes zigzag-up {
      0%     { top: 80%; left: 15%; }
      25%    { top: 75%; left: 45%; }
      50%    { top: 50%; left: 50%; }
      75%    { top: 45%; left: 80%; }
      100%   { top: 20%; left: 85%; }
  }
  
  .zigzag-up {
    animation: zigzag-up 0s alternate linear infinite;
  }

  @keyframes bounce {
      0%   { left: 50%; top: 10%; }
      25%  { left: 55%; top: 30%; }
      50%  { left: 50%; top: 50%; }
      75%  { left: 45%; top: 70%; }
      100% { left: 50%; top: 90%; }
  }
  
  .bounce {
    animation: bounce 0s alternate linear infinite;
  }

  @keyframes line-top {
      0%   { top: 25%; left: -15%; }
      25%  { top: 20%; left: 17.5%; }
      50%  { top: 25%; left: 50%; }
      75%  { top: 20%; left: 82.5%; }
      100% { top: 25%; left: 115%; }
  }

  .line-top {
    animation: line-top 0s normal linear infinite;
  }
  
  @keyframes line-middle {
      0%   { top: 50%; left: -15%; }
      25%  { top: 45%; left: 17.5%; }
      50%  { top: 50%; left: 50%; }
      75%  { top: 55%; left: 82.5%; }
      100% { top: 50%; left: 115%; }
  }

  .line-middle {
    animation: line-middle 0s reverse linear infinite;
  }
  
  @keyframes line-bottom {
      0%   { top: 65%; left: -15%; }
      25%  { top: 70%; left: 17.5%; }
      50%  { top: 65%; left: 50%; }
      75%  { top: 70%; left: 82.5%; }
      100% { top: 65%; left: 115%; }
  }

  .line-bottom {
    animation: line-bottom 0s normal linear infinite;
  }
  
  @keyframes line-vertical {
      0%   { left: 50%; top: -15%; }
      25%  { left: 45%; top: 17.5%; }
      50%  { left: 50%; top: 50%; }
      75%  { left: 55%; top: 82.5%; }
      100% { left: 50%; top: 115%; }
  }

  .line-vertical {
    animation: line-vertical 0s reverse linear infinite;
  }
  
  @keyframes cross-down {
      0%   { top: 30%; left: 115%; }
      25%  { top: 35%; left: 82.5%; }
      50%  { top: 50%; left: 50%; }
      75%  { top: 65%; left: 17.5%; }
      100% { top: 70%; left: -15%; }
  }

  .cross-down {
    animation: cross-down 0s normal linear infinite;
  }
  
  @keyframes cross-up {
      0%   { top: 80%; left: 115%; }
      25%  { top: 75%; left: 82.5%; }
      50%  { top: 60%; left: 50%; }
      75%  { top: 35%; left: 17.5%; }
      100% { top: 40%; left: -15%; }
  }

  .cross-up {
    animation: cross-up 0s reverse linear infinite;
  }
  
  @keyframes rotate {
      0% { transform: rotate(0deg); opacity: 1; }
      50% { transform: rotate(180deg); opacity: 1; }
      100% { transform: rotate(360deg); opacity: 1; }
  }
    
    @keyframes race-one {
        0%   { top: 50%; left: 0%; }
        25%  { top: 60%; left: 30%; }
        50%  { top: 40%; left: 70%; }
        75%  { top: 60%; left: 85%; }
        100% { top: 40%; left: 100%; }
    }

    .race-one {
        animation: race-one 0s linear;
    }

    @keyframes race-two {
        0%   { top: 50%; left: 0%; }
        25%  { top: 35%; left: 20%; }
        50%  { top: 70%; left: 40%; }
        75%  { top: 45%; left: 75%; }
        100% { top: 60%; left: 100%; }
    }

    .race-two {
        animation: race-two 0s linear;
    }

    @keyframes race-three {
        0%   { top: 50%; left: 0%; }
        25%  { top: 45%; left: 25%; }
        50%  { top: 40%; left: 50%; }
        75%  { top: 65%; left: 75%; }
        100% { top: 50%; left: 100%; }
    }

    .race-three {
        animation: race-three 0s linear;
    }

  /* IE hack */
  
  @media screen and (min-width:0\0) {
  
      #game #answers .glyphicon {
          vertical-align: -6px;
      }
  
  }