<template>
      <router-link :to="{ path: link }">
            {{text}}
      </router-link>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component({
  components: {
  },
})
export default class Button extends Vue {

      @Prop() text!: string;

      @Prop() link!: string;
      
}
</script>

<style lang="scss">

</style>