<template>

      <div class="game-answer" @click="submitAnswer" :class="answer.solutionVisible && answer.correct ? 'correct' : answer.solutionVisible && !answer.correct ? 'wrong' : ''">
            
            {{answer.text}}

            <template v-if="answer.iconType">
                  <GameStationaryIcon :icon="icon" />
            </template>

            <template v-if="answer.textAfter">
                  {{answer.textAfter}}
            </template>

            <span class="hidden">
                  {{answer}}
            </span>

      </div>

</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import Answer from "../types/Answer";
import StationaryIcon from "../types/StationaryIcon";
import Color from "../types/Color";

import GameStationaryIcon from "./GameStationaryIcon.vue";

@Component({
      components: {
            GameStationaryIcon
      },
})
export default class GameAnswer extends Vue {

      @Prop() answer!: Answer;

      @Prop() lock!: boolean;

      icon: StationaryIcon = new StationaryIcon;

      cssClass: string = "";

      created() {           

            if(this.answer.iconType) {
                  this.icon = {
                        type: this.answer.iconType
                  };
            }

      }

      @Watch("answer")
      resetCss() {

            this.cssClass = "";

      }

      submitAnswer() {

            if(!this.lock) {

                  this.answer.solutionVisible = true;

                  this.$emit("answer-submitted", this.answer.correct);

                  this.$emit("show-solution");

            }

      }

}
</script>

<style lang="scss">

.game-answer {
      position: relative;
      padding: 30px 0;
      height: 100px;
      font-size: 32px;
      cursor: pointer;
      box-shadow: 0 2px 6px #444;
      transition: all .3s;

      &:hover, &.correct, &.selected {
            font-size: 34px;
      }

      &.correct {

            &, .game-icon {                  
                  color: #1fd647;
            }

            & {
                  font-size: 34px;
            }
      }

      &.wrong {

            &, .game-icon {
                  color: #ce1717;
            }
      }
}

</style>
