<template>

      <i class="game-icon" :class="'mdi ' + icon.type.name">
      </i>

</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import StationaryIcon from "../types/StationaryIcon";

@Component({
      components: {
      },
})
export default class GameStationaryIcon extends Vue {

      @Prop() icon!: StationaryIcon;

}
</script>

<style lang="scss">

.game-icon {
      font-size: 30px;
}

</style>
