<template>

      <!-- TODO icon direction -->
      <i class="game-icon"
            :class="cssClass + (icon.faded ? ' faded' : '')"
            :style="'color: ' + icon.color.hash +
            '; animation-duration: ' + icon.speed">
      </i>

</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";
import MovingIcon from "../types/MovingIcon";

@Component({
      components: {
      },
})
export default class GameMovingIcon extends Vue {

      @Prop() icon!: MovingIcon;

      animation: string = this.icon.animation != undefined ? this.icon.animation.name : "";

      cssClass: string = "mdi " + this.icon.type.name + " " + this.icon.color.name + " " + this.animation;

      created() {

            if(this.icon.radioactive) {
                  this.cssClass += " radioactive";
            }

      }

}
</script>

<style lang="scss">

#spot {

      .game-icon {
            position: absolute;
            transform: translate(-50%, -50%);
            z-index: 1;
            font-size: 40px;

            &.radioactive {
                  filter: drop-shadow(0 0 6px #fbff00);
            }

            &.faded {
                  z-index: 0;
                  color: #888 !important;
            }
      }
}


</style>
