<template>

	<div id="app">
		<div id="darysto"></div>
		<div id="background"></div>

		<div class="container">
			<div id="screen">

				<router-view />

			</div>
		</div>
	</div>

</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component({
	components: {
	},
})
export default class App extends Vue {}
</script>

<style lang="scss">
@import "@/styling/spot.scss";

body {
	font-family: "Chewy", cursive;
      text-shadow: 0 0 6px #333;
      color: #fff;

	#app {

		a {
			text-decoration: none;
			color: inherit;
		}

		*::selection {
			color: inherit;
		}

		.yellow {
			color: #fcef50;
		}

		.jua {
			font-family: "Jua", cursive;
		}
		
		.chango {
			font-family: "Chango", cursive;
		}

	}
}

</style>
